<<h1>ФИНАНСЫ. Выборка расходов по параметрам.</h1>
<a href="{% url 'table:main' %}">На главную</a></br></br>
<a href="{% url 'table:addcost' %}">Добавить расходы</a></br></br>
<a href="{% url 'table:typeofcost' %}">Добавить новый тип расхода</a></br></br>
<a href="{% url 'table:costssample' %}">Сделать выборку расходов</a></br></br>
<<h1>Введите параметры поиска</h1>

<form action="" method="post">
{% csrf_token %}
    {{ form.as_p }}
<input type="submit" value="Вывести список" /> 
</form>
{% if costs_sample_list %}
	<table border="1">
	<caption>Таблица расходов за период c {{start_date|date:"d.m.Y"}} по {{end_date|date:"d.m.Y"}}</caption>
		<tr>
			<th>Дата</th>
			<th>Тип расхода</th>
			<th>Сумма</th>
			<th>Примечание</th>
		</tr>
		{% for cost in costs_sample_list %}
		<tr>
			<td><a href="{% url 'table:getchangecost' cost.id %}">{{cost.date_buy|date:"d.m.Y"}}</a></td>
			<td>{{cost.type_of_buy}}</td>
			<td>{{cost.summa_buy}}</td>
			<td>{{cost.note}}</td>
		</tr>
		{% endfor %} 
	</table>
{% endif %}